<template>
    <v-tabs next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
        <v-tabs-slider color="yellow darken-3"></v-tabs-slider>
        <v-tab v-for="(i,index) in items" :key="index" @click="$router.push(i.to)">{{ i.title }}</v-tab>
        <v-tabs-items>
            <v-card flat>
                    <v-layout justify-start align-start>
                        <router-view></router-view>
                    </v-layout>
            </v-card>
        </v-tabs-items>
    </v-tabs>
</template>

<script>
export default {
	data(){
		return{
			tab: null,
			items: [
				{title:'Cidades', to:'gerenciacidades'},
			]
		}
	}
}
</script>
