<template>
  <v-layout>

    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Gerenciamento de Empresas</span>
          <v-spacer></v-spacer>


        </v-card-title>
        <v-toolbar flat color="white">
          <v-toolbar-title>Categorias</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn @click="categoriaForm = true" color="green darken-2" dark>Nova Categoria</v-btn>
        </v-toolbar>
        <v-data-table
            :headers="headersCategoria"
            :items="getCategorias"
            hide-actions
            class="elevation-0"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-center">{{ props.item.nome }}</td>
              <td class="text-xs-center"><v-icon v-html="props.item.icon"></v-icon></td>
              <td class="text-xs-center">
                <v-btn fab dark small class="elevation-0" @click="editCategoriaItem(props.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-btn fab color="red" dark small class="elevation-0" @click="deleteItemCategoria(props.item._id)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </td>
            </template>
        </v-data-table>
        <v-divider></v-divider>
        <v-toolbar flat color="white" class="pt-3">
          <v-toolbar-title>Empresas</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn @click="nova()" color="green darken-2" dark>Nova Empresa</v-btn>
        </v-toolbar>
        <v-data-table
          :headers="headers"
          :items="getEmpresas"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left">{{props.item.site_link}}</td>
            <td class="text-xs-left" >{{ props.item.telefones.map(t => t).join(', ') }}</td>
            <td class="text-xs-center">
              <v-btn fab dark small class="elevation-0" @click="editItem(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn fab color="red" dark small class="elevation-0" @click="deleteItem(props.item._id)">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog v-model="editForm" persistent max-width="900" min-height="900">
      <v-card>
        <v-card-title>
          <span class="headline"> Editar Empresa</span>
        </v-card-title>
        <v-card-text>
            <v-container >
              <v-layout align-center justify-center row fill-height>
                <v-flex xs12>
                  <v-text-field v-model="dataSelec.nome" label="Nome" required></v-text-field>
                </v-flex>
                <v-flex xs12 >
                  <v-select :items="getCategorias" label="Categoria" v-model="dataSelec.categoria_id" item-text="nome" item-value="_id"></v-select>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-text-field v-model="dataSelec.endereco.rua" label="Rua" required></v-text-field>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-text-field v-model="dataSelec.endereco.numero" label="Número" required></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field v-model="dataSelec.endereco.bairro" label="Bairro" required></v-text-field>
                </v-flex>
                <v-flex xs6 pr-2>
                  <v-text-field v-model="dataSelec.endereco.cidade" label="Cidade" required></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field v-model="dataSelec.endereco.estado" label="Estado" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field v-model="dataSelec.endereco.cep" label="CEP" type="number" required></v-text-field>
                </v-flex>
                <v-flex xs6 pr-2>
                  <v-text-field v-model="dataSelec.site_link" label="Site" required></v-text-field>
                </v-flex>
                <v-flex xs6 >
                  <v-text-field v-model="dataSelec.facebook_link" label="Facebook" required></v-text-field>
                </v-flex>
                <v-flex xs12 >
                  <v-combobox
                      v-model="dataSelec.telefones"
                      :items="dataSelec.telefones"
                      :search-input.sync="searchTelefones"
                      hide-selected
                      hint="Insira somente os números"
                      label="Insira os telefones"
                      multiple
                      persistent-hint
                      small-chips
                      type="number"
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-combobox
                      v-model="dataSelec.formas_pagamento"
                      :items="dataSelec.formas_pagamento"
                      :search-input.sync="searchpagamento"
                      hide-selected
                      label="Insira as formas de pagamento"
                      multiple
                      persistent-hint
                      small-chips
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-text-field v-model="dataSelec.horario_inicio" label="Horário que abre" type="number" required></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field v-model="dataSelec.horario_fim" label="Horário que fecha" type="number" required></v-text-field>
                </v-flex>                
              </v-layout>
            </v-container>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editEmpresa()">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="categoriaForm" persistent max-width="600">
      <v-card>
        <v-card-title>
          <span class="headline"> Cadastro de categoria</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="categoria.nome" label="Nome da Categoria" placeholder="Exemplo: Pizzaria"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="categoria.icon" label="Nome da Icon" placeholder="Exemplo: account_circle"></v-text-field>                  
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="categoriaForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="saveCategoria(categoria)">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="categoriaEditForm" persistent max-width="600">
      <v-card>
        <v-card-title>
          <span class="headline"> Edição de categoria</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="categoria.nome" label="Nome da Categoria" placeholder="Exemplo: Pizzaria"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="categoria.icon" label="Nome da Icon" placeholder="Exemplo: account_circle"></v-text-field>                  
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="categoriaEditForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editCategoria(categoria)">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog v-model="dialogFormEmpresa" persistent max-width="900px">
      <v-card>
        <v-card-title>
          <span class="headline"> Cadastrar Empresa</span>
        </v-card-title>
          <v-card-text>
            <v-container >
              <v-layout align-center justify-center row fill-height>
                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.nome" label="Nome" required></v-text-field>
                </v-flex>
                <v-flex xs12 >
                  <v-select :items="getCategorias" label="Categoria" v-model="dataCadastro.categoria_id" item-text="nome" item-value="_id"></v-select>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-text-field v-model="dataCadastro.endereco.rua" label="Rua" required></v-text-field>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-text-field v-model="dataCadastro.endereco.numero" label="Número" required></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field v-model="dataCadastro.endereco.bairro" label="Bairro" required></v-text-field>
                </v-flex>
                <v-flex xs6 pr-2>
                  <v-text-field v-model="dataCadastro.endereco.cidade" label="Cidade" required></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field v-model="dataCadastro.endereco.estado" label="Estado" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.endereco.cep" label="CEP" type="number" required></v-text-field>
                </v-flex>
                <v-flex xs6 pr-2>
                  <v-text-field v-model="dataCadastro.site_link" label="Site" required></v-text-field>
                </v-flex>
                <v-flex xs6 >
                  <v-text-field v-model="dataCadastro.facebook_link" label="Facebook" required></v-text-field>
                </v-flex>
                <v-flex xs12 >
                  <v-combobox
                      v-model="dataCadastro.telefones"
                      :items="dataCadastro.telefones"
                      :search-input.sync="searchTelefones"
                      hide-selected
                      hint="Insira somente os números"
                      label="Insira os telefones"
                      multiple
                      persistent-hint
                      small-chips
                      type="number"
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-combobox
                      v-model="dataCadastro.formas_pagamento"
                      :items="dataCadastro.formas_pagamento"
                      :search-input.sync="searchpagamento"
                      hide-selected
                      label="Insira as formas de pagamento"
                      multiple
                      persistent-hint
                      small-chips
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs4 pr-2>
                  <v-text-field v-model="dataCadastro.horario_inicio" label="Horário que abre" type="number" required></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field v-model="dataCadastro.horario_fim" label="Horário que fecha" type="number" required></v-text-field>
                </v-flex>                
              </v-layout>
            </v-container>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormEmpresa = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar()">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      color="success dard-1"
      v-model="snackbar"
      :bottom="'bottom'"
      :right="'right'">
        {{message}}
        <v-btn color="white" flat="" @click="snackbar=false">Fechar</v-btn>
      </v-snackbar>
  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import PictureInput from 'vue-picture-input'
  import ImageInput from '../../ImageInput.vue'
  export default {
    components: {
      PictureInput,
      ImageInput
    },
    data () {
      return {
        dialogFormEmpresa: false,
        categoriaEditForm: false,
        categoriaForm: false,
        editForm: false,
        snackbar: false,
        message: '',
        categoria: {
          nome: '',
          icon: '',
        },
        dataCadastro: {
          nome: '',
          endereco: {
            rua: '',
            numero: '',
            bairro: '',
            cidade: '',
            estado: '',
            cep: ''
          },
          telefones: [],
          site_link: '',
          facebook_link: '',
          formas_pagamento: [],
          horario_inicio: '',
          horario_fim: '',
          categoria_id: ''
        },

        dataSelec: {
          nome: '',
          endereco: {
            rua: '',
            numero: '',
            bairro: '',
            cidade: '',
            estado: '',
            cep: ''
          },
          telefones: [],
          site_link: '',
          facebook_link: '',
          formas_pagamento: [],
          horario_inicio: '',
          horario_fim: '',
          categoria_id: ''
        },
        empresas: [
          {_id: 10152345,name: 'Ki Lab', telefone: '16 3384-6666'},
        ],
        searchTelefones: '',
        searchpagamento: '',
        searchEmails: '',
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Site',
            align: 'left',
            sortable: false,
            value: 'site_link'
          },
          {
            text: 'Telefones',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'name'
          },
        ],
        headersCategoria: [
          {
            text: 'Nome',
            align: 'center',
            sortable: false,
            value: 'nome'
          },
          {
            text: 'Ícone',
            align: 'center',
            sortable: false,
            value: 'icon'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'name'
          },
        ],
        editorOption: {
                modules: {
                    toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'header': 1 }, { 'header': 2 }],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'indent': '-1' }, { 'indent': '+1' }],
                    [{ 'direction': 'rtl' }],
                    [{ 'size': ['small', false, 'large', 'huge'] }],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] }],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean'],
                    ],
                    syntax: {
                    highlight: text => hljs.highlightAuto(text).value
                    }
                }
        }
      }
    },
    methods:{
      ...mapActions(['listaEmpresaAssociacao', 'cadastroEmpresas', 'cadastroCategoria', 'alteraCategoria', 'listaCategorias', 'alteraEmpresa', 'deletaEmpresa', 'checkUsuario', 'listaCidade', 'listaEstado', 'deletaCategoria']),

      cadastrar(){
        this.dataCadastro.imagem = this.getImagem
        this.dataCadastro.associacao_id = this.getUser.associacao_id._id
        console.log(this.dataCadastro)
        this.cadastroEmpresas(this.dataCadastro).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormEmpresa = false
            this.getImagem.splice(0, this.getImagem.length)
            this.listaEmpresaAssociacao(this.getUser.associacao_id._id)
          }
        })
      },

      nova() {
        this.dialogFormEmpresa = true
          
      },

      soriano() {
        console.log(this.$refs.pictureInput.onClick())
      },

      saveCategoria(categoria) {
        console.log(this.getUser)
        /*let formData = new FormData()
        formData.append("nome", this.categoria.nome)*/
        this.cadastroCategoria(categoria).then(r => {
          console.log(r)
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.categoriaForm = false
            this.listaCategorias()
          }
        })
      },

      editCategoriaItem(categoria){
        this.categoriaEditForm = true
        this.categoria = Object.assign({}, categoria)
      },

      editCategoria(categoria){
        this.alteraCategoria(categoria).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.categoriaEditForm = false
            this.listaCategorias()
          }
        })
      },

      editItem(empresa) {
        this.editForm = true
        delete empresa.createdAt
        delete empresa.updatedAt
        delete empresa.__v
        this.dataSelec = Object.assign({}, empresa)
        //this.dataCadastro.imagemTemp = `http://127.0.0.1:3000/images-loja/${empresa.logo}`

      },

      deleteItem(empresa_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.deletaEmpresa(empresa_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaEmpresaAssociacao(this.getUser.associacao_id._id)
            })
        }
      },

      deleteItemCategoria(categoria_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.deletaCategoria(categoria_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaCategorias()
            })
        }
      },

      editEmpresa() {
        console.log(this.dataSelec)
        this.dataSelec.imagem = this.getImagem
        this.dataSelec.associacao_id = this.getUser.associacao_id._id
        this.alteraEmpresa(this.dataSelec).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editForm = false
            this.getImagem.splice(0, this.getImagem.length)
            this.listaEmpresaAssociacao(this.getUser.associacao_id._id)
          }
        })
      },
    },
    mounted() {
      this.listaEmpresaAssociacao(this.getUser.associacao_id._id)
      this.listaCategorias()
      this.listaCidade()
    },
    computed: {
      ...mapGetters(['getCategorias', 'getEmpresas', 'getCidades', 'getImagem', 'getUser']),
      /*empresas () {
        return this.$store.getters.getDataUser.empresas
      },
      isLoading () {
        return this.$store.getters.getIsLoadingCheckUser
      }*/
    }
  }
</script>
