<template>
  <div class="main">
    <v-layout row >
      <v-flex xs6 class="content" >
          <div class="grid pa-5">
            <img class=" mb-4 " width="350" src="../assets/logo.jpg" style="display:block;margin:auto;" />
            <v-text-field outline label="Login" v-model="acesso.email" @keyup.enter="entra"></v-text-field>
            <v-text-field outline label="Senha" v-model="acesso.senha" :append-icon="showPass ? 'visibility_off' : 'visibility'" :type="showPass ? 'text':'password'" @click:append="showPass=!showPass" @keyup.enter="entra"></v-text-field>
            <v-btn large block  :loading="loader" :disabled="loader || !acesso.email || !acesso.senha" class="green darken-4 white--text font-weight-bold" @click="entra" @keyup.enter="entra">Entrar<v-icon right v-html="loader || !acesso.email || !acesso.senha ? 'lock' : 'lock_open'"></v-icon></v-btn>
            
          </div> 
      </v-flex>
      <v-flex xs6 class="produtos">
      </v-flex>
    </v-layout>
  </div>
  
</template>

<script>
//import facebookLogin from "facebook-login-vuejs";
import { mapActions } from "vuex";
import axios from "axios";

export default {
  name: "login",
  components: {
    //facebookLogin
  },
  data() {
    return {
      isConnected: false,
      name: "",
      email: "",
      personalID: "",
      FB: undefined,
      showPass:false,
			loader:false,
      acesso: {
        email: '',
        senha: ''
      }
    };
  },
  methods: {
    ...mapActions(["setToken", 'loginDash', "setUser"]),
    entra()
    {
      //console.log(this.acesso)
      this.loginDash(this.acesso).then(r => {
        if (r.data.status)
        {
          if(r.data.status) {
            this.setToken(r.data)
            this.$router.push("/home");
          }else{
            this.$eventHub.$emit('snackBarError', r.data.message);
          }
          
        }
      })
      .catch(e => console.log("err:", e));

      /*this.$store.getters.getApi.post("login", { token }).then(r => {
        if (r.data.status)
        {
          console.log(r.data)
          this.setToken(r.data);
          this.$router.push("/home");
        }
      })
      .catch(e => console.log("err:", e));*/
    },
    /*getUserData() {
      this.FB.api(
        "/me",
        "GET",
        { fields: "id,name,email" },
        userInformation => {
          this.personalID = userInformation.id;
          this.email = userInformation.email;
          this.name = userInformation.name;
        }
      );
    },*/
    /*sdkLoaded(payload) {
      let token = payload.FB.getAccessToken();

      console.log('token',token)

      this.$store.getters.getApi.post("auth/facebook", { token }).then(r => {
        if (r.data.status)
        {
          console.log(r.data)
          this.setToken(r.data);
          this.$router.push("/home");
        }
      })
      .catch(e => console.log("err:", e));

      this.isConnected = payload.isConnected;
      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },*/
    onLogin() {
      console.log('api', this.$store.getters.getApi)
      this.isConnected = true;
      //this.getUserData();
    },
    onLogout() {
      this.isConnected = false;
    }
  }
};
</script>

<style scoped>

.main {
    background:#fff;
    display:flex;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position:fixed;
    margin-top: 40px;
    top:40px;
    right:40px;
    bottom:40px;
    left:40px;
  }

  .content {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 20px;
  }

  .grid {
    width:600px;
    height:500px;
  }

  .produtos {
    background: url('../assets/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
